@font-face {
    font-family: "font1";
    src: url("assets/fonts/I-pixel-u.woff2") format("woff2"),
        url("assets/fonts/I-pixel-u.woff") format("woff"),
        url("assets/fonts/I-pixel-u.ttf") format("truetype");
}

body {
    font-size: 15pt;
}

html {
    background-color: #C2C8D9;
}

.button1 {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 200px;
    height: 120px;
    background: #646A96;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: font1;
    border: solid 10px #3B4067;
}

.player {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 150px;
    height: 200px;
    background: #74B668;
}

.inimigo {
    position: absolute;
    left: 500px;
    top: 100px;
    width: 150px;
    height: 200px;
    background: #CA4F68;
}

.opcao {
    position: absolute;
    width: 150px;
    height: 80px;
    background: #7A94D3;
    border: solid 4px #384668;
}