body {
    font-size: 15pt;
}

html {
    background-color: #7B8398;
}

.button1 {
    position: absolute;
    left: 300px;
    top: 400px;
    width: 200px;
    height: 120px;
    background: #464A6A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}